/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* common Styles */
body{
    margin: 0 auto ; 
    max-width: 1420px;
    font-family: 'Poppins', sans-serif;
}



.container{
    max-width: 1321px;
    margin-top: 40px;
}

button a{
    text-decoration: none;
}

/* Top Banner Styles  */
.top-banner{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-details{
    color: white;
    width: 50%;
    padding: 20px;
}
.banner-title{
    font-weight: 700;
    font-size: 60px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
}

.banner-img img{
    transition: width 4s;
    transition-timing-function: ease-in;
}
.banner-img img:hover{
    width: 400px;
}
.banner-btn{
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 10px;   
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
 .banner-btn a {
    color: WHITE;
}
.banner-btn:hover{
    background-color: deepskyblue;
    
}

/* Blog Section Styles  */
.blogs{
    display: flex;
    

}

.matches{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,29,94,1) 100%, rgba(0,212,255,1) 100%);
    /* background-color: rgba(2,0,36,1); */
    width: 30%;
    height: 312px;
    border-radius: 10px;
    margin-right: 20px;
    
}
.navigation{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
}
.navigation button label {
        display: block;
        /* padding: 8px 15px;  */
        min-width: 100px;
        cursor: pointer;
        color: #FFFFFF;
        border-radius: 10px;
        text-align: center;
        font-weight: 700; 
}

.navigation button {
    color: #161616;
    width: 252px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    
}
.navigation a {
    color: #161616;
}

.blog-btn{
    background-color: #DD0000;  
}
.blog-btn a {
    color: white;
}

.tab_container_wrap input{
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    z-index: -100;
    top:-10000px;
}
.tab_container_wrap input:checked + .tab_content_box{
    display: block;
}
.tab_content_box{
    display: none; 
    
}


/* Each Blogs  */
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
   
}

.blog{
    border:1px solid lightgray; 
    border-radius: 20px;
  
    
}
.blog-img img{
   width: 100%;
}
.blog-details{
    margin-left: 20px;
}
.icon {
    display: flex;
    justify-content: space-evenly
}

/* Footer Section  */
footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,29,94,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    border-radius: 20px;


}

.footer-title{
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}
h4{
    color:#B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin-left: 30px;
    
}

.footer-items{
    display: flex;
    justify-content: center; 
   
}

.footer-details{
    padding: 40px;
}

.fa-brands{
    color: white;
    margin-left: 30px;
    font-size: 30px;
}